@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  @apply w-2;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-darkTeal;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-cyanBlue-dark rounded-md;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-cyanBlue-darker;
}

.calendar-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.calendar-scrollbar::-webkit-scrollbar-track {
  background: #2c6eb0; /* Darker shade of blue */
}

.calendar-scrollbar::-webkit-scrollbar-thumb {
  background: #1b4d85; /* Even darker blue for contrast */
  border-radius: 4px;
}

.calendar-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #133a63; /* A deeper shade when hovered */
}

.custom-quill .ql-editor {
  min-height: 16rem;
}

.quill.ql-display {

  .ql-container {
    border: none !important;
  }
}

.quill.ql-editor-title {
  .ql-container {
    min-height: 100px;
}
}
.quill.ql-editor-title-wbg {
  .ql-container {
    background-color: #2A6AAA;
    min-height: 100px;
}
}

.quill.ql-display-title {


  .ql-container {
    border: none !important;
    background-color: #2A6AAA;
}

}