@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  @apply w-2;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-darkTeal;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-cyanBlue-dark rounded-md;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-cyanBlue-darker;
}

.calendar-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.calendar-scrollbar::-webkit-scrollbar-track {
  background: #2c6eb0; /* Darker shade of blue */
}

.calendar-scrollbar::-webkit-scrollbar-thumb {
  background: #1b4d85; /* Even darker blue for contrast */
  border-radius: 4px;
}

.calendar-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #133a63; /* A deeper shade when hovered */
}

.custom-quill .ql-editor {
  min-height: 16rem;
}

.quill.ql-display {

  .ql-container {
    border: none !important;
  }
}

.quill.ql-editor-title {
  .ql-container {
    min-height: 100px;
}
}
.quill.ql-editor-title-wbg {
  .ql-container {
    background-color: #2A6AAA;
    min-height: 100px;
}
}

.quill.ql-display-title {


  .ql-container {
    border: none !important;
    background-color: #2A6AAA;
}

}


/* #region Topic: Full Calendar override css */

.fc-header-toolbar {
  margin-bottom: 4px !important; /* Reduce space below the toolbar in calendar*/
}

.fc-toolbar {
  padding: 2px 0 !important; /* Reduce padding in toolbar */
}

.fc-toolbar-chunk h2 {
  font-size: 1rem !important;
}

.fc-toolbar-chunk button {
  font-size: 0.625rem !important; 
  padding: 0.25rem 0.4rem !important; 
}


@media (min-width: 640px) {
  .fc-toolbar-chunk h2 {
    font-size: 1.125rem !important; 
  }

  .fc-toolbar-chunk button {
    font-size: 0.75rem !important; 
    padding: 0.3rem 0.45rem !important; 
  }
  
}

@media (min-width: 768px) {
  .fc-toolbar-chunk h2 {
    font-size: 1.25rem!important; 
  }

  .fc-toolbar-chunk button {
    font-size: 0.875rem !important; 
    padding: 0.35rem 0.55rem !important; 
}

}

@media (min-width: 1024px) {
  .fc-toolbar-chunk h2 {
    font-size: 1.5rem !important; 
  }

  .fc-toolbar-chunk button {
    font-size: 1rem !important; 
    padding: 0.4rem 0.65rem !important; 
  }

}

@media (min-width: 1280px) {
  .fc-toolbar-chunk h2 {
    font-size: 1.75rem !important; 
  }
}



/* #endregion */